<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Giaovien</title>
</head>
<body>
<p><a href="/svlops"><button type="button">TRANG CHU</button></a></p>

<a href="/create-giaovien">Tao moi Giaovien</a>
<h1>Giaovien</h1>
<table border="1">
    <tr>
        <th>Ma GV</th>
        <th>Ten GV</th>
        <th>Ho GV</th>
        <th>Don vi </th>

        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="giaovien: ${giaoviens}">
        <tr>
            <td th:text="${giaovien.maGV}"></td>
            <td th:text="${giaovien.tenGV}"></td>
            <td th:text="${giaovien.hoGV}"></td>
            <td th:text="${giaovien.donVi}"></td>
            <td><a th:href="@{/edit-giaovien/__${giaovien.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-giaovien/__${giaovien.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>